.App {
  text-align: center;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

header {
  position: absolute;
}

.headerNav a {
  margin: 0 15px;
}

.hero-title {
  font-size: 80px;
  font-family: 'Bangers', cursive;
}


.landing {
  background-image: url(./components/assets/images/applause.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 85px;
  position: fixed;
} 

.library {
  background-image: url(./components/assets/images/blurred_backgrounds/blur_bg_3.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
}

.library a {
  float: left;
  margin: 25vh 15vh;
}

.album {
  margin-top: 25vh;
}

#album-cover-art {
  float: left;
  margin: 0 15vh;
}

